{{#if login}}
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">Kpop Store</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cards
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="products">All</a></li>
            <li><a class="dropdown-item" href="products/:id">Twice</a></li>
            <li><a class="dropdown-item" href="products/:id">aespa</a></li>
          </ul>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="profile" class="nav-link active">Profile</a>
      </li>
      <li class="nav-item">
        <form action="/logout?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger" id="tlacitko">Logout <i class="fa-solid fa-right-from-bracket"></i></button></form>
      </li>
    </ul>
  </div>
</nav>
<!--tabulka pro upravu Twice-->
   <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="addProduct">
        <a href="/admin/addCard" class="btn btn-primary" id="tlacitko">Přidat produkt</a>
      </div>
      <table class="table table-striped table-dark">
        <thead>
            
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Cena</th>
            <th scope="col">Akce</th>
          </tr>
          
        </thead>
        <tbody>
            {{#each twice}}
          <tr>
            <td>{{this.id_pro}}</td>
            <td>{{this.jmeno}}</td>
            <td>$ {{this.cena}}</td>
            <td>
            <a href="/admin/edit/{{this.id_pro}}" type="button" class="btn btn-primary">upravit <i class="far fa-eye"></i></a>
            <a href="/admin/deleteProduct/{{this.id_pro}}" type="button" class="btn btn-danger">smazat <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--tabulka pro upravu aespa-->
   <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="addProduct">
        <a href="/admin/addCard" class="btn btn-primary" id="tlacitko">Přidat produkt</a>
      </div>
      <table class="table table-striped table-dark">
        <thead>
            
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Cena</th>
            <th scope="col">Akce</th>
          </tr>
          
        </thead>
        <tbody>
            {{#each aespa}}
          <tr>
            <td>{{this.id_pro}}</td>
            <td>{{this.jmeno}}</td>
            <td>$ {{this.cena}}</td>
            <td>
            <a href="/admin/edit/{{this.id_pro}}" type="button" class="btn btn-primary">upravit <i class="far fa-eye"></i></a>
            <a href="/admin/deleteProduct/{{this.id_pro}}" type="button" class="btn btn-danger">smazat <i class="far fa-trash-alt"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


{{/if}}






