<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <a href="/profile/profilePic"><img class="rounded-circle mt-5" id="obrazek" width="150px" height="150px" src='/profilePics/{{profile.image}}'></a>
                <span class="font-weight-bold"></span>{{profile.jmeno}}<span class="text-black-50">{{profile.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">nastavení profilu</h4>
                </div>
                <form role="form" action="/profile" method="post">
                <div class="row mt-2">
                    <input type="hidden" id="id" name="id" value="{{profile.id_zak}}">
                    <div class="col-md-6"><label class="labels">Jméno</label><input type="text" name="jmeno" class="form-control" value="{{profile.jmeno}}" required></div>
                    <div class="col-md-6"><label class="labels">Příjmení</label><input type="text" name="prijmeni" class="form-control" value="{{profile.adresa}}" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Telefon</label><input type="text" name="mobil" class="form-control" min="100000000" max="999999999" step=".01"value="{{profile.telefon}}" required></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="email" name="email" class="form-control" value="{{profile.email}}" required></div>
                </div>
                </div>
                </div>
                  <div class="mb-5 text-center">
                  <a href="/profile/noveHeslo " type="button" class="btn btn-primary">Změnit heslo</a>
                  <button class="btn btn-primary profile-button" type="submit">Uložit změny</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>